HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
/oh-rest-api.log.*.gz
logs/
bin
*.log
/static
!static/swagger-ui/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VScode ###
.vscode
