HELP.md
/target/
/rsc/*.properties
/rsc/*.yaml
/rsc/plugins/**/
!.mvn/wrapper/maven-wrapper.jar
/oh-rest-api.log.*.gz
logs/
bin
*.log
/static
!static/swagger-ui/

#Project related
.env
/deps/
OH_API_PID

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.pid

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VScode ###
.vscode
/deps/
OH_API_PID

### Log files ###
*.log
logs/
LOG_DEST