# logging.file.name=oh-rest-api.log
# logging.level.org.springframework=DEBUG
# logging.level.org.springframework.web=DEBUG
server.tomcat.accesslog.enabled=true
server.tomcat.accesslog.pattern=%t %a "%r" %s (%D ms)
spring.jpa.hibernate.use-new-id-generator-mappings=false
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
server.servlet.context-path=/
server.address=localhost
server.port=8080
server.servlet.session.cookie.http-only=true
#server.servlet.session.cookie.secure=true # only over HTTPS
spring.pid.fail-on-write-error=true
spring.pid.file=OH_API_PID
spring.mustache.check-template-location=false
spring.jpa.open-in-view=false

### In production change to http://<domain>
cors.allowed.origins=http://API_HOST:API_PORT,http://UI_HOST:UI_PORT

### Swagger-UI (info)
api.host=API_HOST:API_PORT/API_URL
api.protocol=http
springdoc.swagger-ui.tagsSorter=alpha
springdoc.swagger-ui.doc-expansion=none

### Security token secret (JWT)
jwt.token.secret=JWT_TOKEN_SECRET

### JWT token validity, 30 minutes (1,800 seconds)
jwt.token.validityInSeconds=1800

### JWT token validity for remember me, 3 days (259,200 seconds)
jwt.token.validityInSecondsForRememberMe=259200

# Hibernate properties
# needed to start application even without DB connection
spring.jpa.database-platform=org.hibernate.dialect.MariaDBDialect
spring.jpa.hibernate.ddl-auto=none
